# Auto detect text files and perform LF normalization
* text=auto
ML_Plane/Lib/*.dll filter=lfs diff=lfs merge=lfs -text
ML_Plane/Lib/*.lib filter=lfs diff=lfs merge=lfs -text
ML_Plane/Lib/site-packages/*.lib filter=lfs diff=lfs merge=lfs -text
ML_Plane/Lib/site-packages/*.dll filter=lfs diff=lfs merge=lfs -text
ML_Plane/Lib/site-packages/torch/lib/*.dll filter=lfs diff=lfs merge=lfs -text
ML_Plane/Lib/site-packages/torch/lib/*.dll filter=lfs diff=lfs merge=lfs -text
ML_Plane/Lib/site-packages/torch/lib/*.lib filter=lfs diff=lfs merge=lfs -text
